.spinner{
  display: grid;
  place-self: center;
  min-height:80vh;
}
.spin{
  width:65px;
  height:65px;
  place-self:center;
  border:5px solid black;
  border-radius: 50%;
  border-top:gray;
  animation: rotate 2s infinite;
}
@keyframes rotate{
  100%{
    transform: rotate(360deg)
  }
}
.coin{
  padding:0px 20px;

}
.coin-name{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:20px;
  margin:100px auto;
  margin-bottom:50px;
}
.coin img{
  max-width: 100px;
}
.coin-name p b{
  font-size: 44px;
  font-weight: 500;
}
.history{
  max-width: 800px;
  height:400px;
  margin:auto;
  margin-bottom: 5px;
}
.coin-info{
  max-width: 800px;
  margin:50px auto;
  display: flex;
  flex-direction: column;
}
.coin-info ul{
  display: flex;
  justify-content: space-between;
  padding:10px 0px;
  border-bottom:1px solid white;
  list-style:none;
}
.coin-info ul li:last-child{
  font-weight: 300;
}